
{%extends 'layout.html'%}
{%block body%}
The Infinix Hot 4 is the 2016 iteration of the popular HOT series. It was a 2016 refresh of the Infinix phones lineup with Android 6.0 (Marshmallow) and the most affordable right now.

Infinix Hot 4 also introduces a fingerprint sensor and offers 33% more battery capacity compared to the Hot3. It runs Android 6 (Marshmallow) on a 1.3GHz quad-core processor with 2GB of RAM.

The smartphone sports an 8MP rear camera and a 5MP front camera. The 5.5-inch display offers HD resolution. Price starts at 39,000 Naira.

{%endblock%}    
