{% extends 'layout.html'%}

{%block body%}
<div class="jumbotron text-center">
<h1>Welcome to shopping solution</h1>
<img src="tray.jpg" class="img-circle mx-auto d-block" alt="Sample photo" width="1000px" height="200">
<P class="lead">This is a shopping solution</p>
</div>


<div class="media">
<img class="mr-3" src="images/infinix.jpg" alt="Sample photo">
<div class="media-body">
<h4>infinix</h4>
<p>Aug 17, 2016 - This year's iteration, the Infinix Note 3, is not any different. ... in Kenya today and for those who 
are believers in the statement “patience is key”, ... Infinix asserts that simple 5-minute plug-in will result in you getting 
enough juice ...totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.<a href="shoppinglist.html"><button type="submit" name="submit"><font color="red">add to list</font></button></a></p>

<!-- Start Nested Media Object -->
<div class="media">
<img class="mr-3" src="images/techno.jpg" alt="Sample photo">
<div class="media-body">
<h4>Techno</h4>
<p>Deals (4) EZ Deals (2) Mobile Phones (57) Phones and Tablets (57) Tecno Phones (57) ... At Konga, we boast of a wide assortment of
 the latest Tecno phones such as the H6, L7, A3, Tecno Camon C8 and the phantom Z all at the best prices you cannot find anywhere else.<a href="shoppinglist.html"><button type="submit" name="submit"><font color="red">add to list</font></button></a></p>
</p>
</div>
</div>
<!-- End Nested Media Object -->

</div>
</div>
{%endblock%}
